################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Organimmo/Organimmo.UI.Blazor/obj/Debug/net6.0/project.razor.json
